version: "3.7"
networks:
  toolkit_staging:
    driver: bridge
services:
  toolkit:
    user: "1002:1002"
    networks:
      - toolkit_staging
    image: toolkit:staging
    build: .
    command: ["tk_run", "gunicorn"]
    restart: on-failure
    ports:
      - "127.0.0.1:7192:8000"
    environment:
      NO_REDIS: "true"
      DB_NAME: "${DB_NAME}"
      DB_USER: "${DB_USER}"
      DB_PASSWORD: "${DB_PASSWORD}"
      DB_HOST: "toolkit-${ENV}-mariadb"
      DB_PORT: "3306"
      SECRET_KEY: "${DJANGO_SECRET_KEY:-really_bad_django_secret_key}"
      EMAIL_HOST: "${EMAIL_HOST}"
      EMAIL_PORT: "${EMAIL_PORT}"
      EMAIL_HOST_USER: "${EMAIL_HOST_USER}"
      EMAIL_HOST_PASSWORD: "${EMAIL_HOST_PASSWORD}"

    volumes:
      - type: bind
        source: /home/staging/site/media/
        target: /site/media/
      - type: bind
        source: /var/run/mysqld/mysqld.sock
        target: /var/run/mysqld/mysqld.sock

