# This compose file is for development and test, not for production deployment!
services:
  mariadb:
    image: mariadb:10
    container_name: toolkit_dev_db
    restart: on-failure
    environment:
      MARIADB_USER: "${DB_USER:-toolkit}"
      MARIADB_PASSWORD: "${DB_PASSWORD:-devserver_db_password}"
      MARIADB_ROOT_PASSWORD: rubbishpassword
      MARIADB_DATABASE: "${DB_NAME:-toolkit}"
      SECRET_KEY: "${DJANGO_SECRET_KEY:-really_bad_django_secret_key}"
    volumes:
      - type: bind
        source: ./var/docker-entrypoint-initdb.d/
        target: /docker-entrypoint-initdb.d/   ## scripts run during startup of new containers.

  toolkit:
    image: toolkit:dev
    command: ["tk_run", "gunicorn"]
    container_name: toolkit_dev_app
#    command: ["/bin/bash"]
    restart: on-failure
    environment:
      DB_NAME: "${DB_NAME:-toolkit}"
      DB_USER: "${DB_USER:-toolkit}"
      DB_PASSWORD: "${DB_PASSWORD:-devserver_db_password}"
      DB_HOST: "toolkit_dev_db"
      DB_PORT: "3306"
      SECRET_KEY: "${DJANGO_SECRET_KEY:-really_bad_django_secret_key}"
    ports:
      - 127.0.0.1:8000:8000
    volumes:
      - type: bind
        source: ./media
        target: /site/media/